@use "../variables" as *;

.badge {
  border-radius: 20px;
  color: $color-headings;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
  }

  &--primary {
    background-color: $color-primary;
    color: #fff;
  }

  &--secondary {
    background-color: $color-secondary;
    color: #fff;
  }

  &--small {
    font-size: 1.6rem;
    @media screen and (min-width: 1024px) {
      font-size: 1.2rem;
    }
  }
}

// components
// <span class="badge badge--primary">10% off</span>
// <span class="badge badge--secondary">10% off</span>
// <span class="badge">10% off</span>
