@use "../variables" as *;

.callout {
  padding: 4rem;
  border-radius: 5px;

  &__content {
    text-align: center;
    margin-bottom: 1.5rem;
    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: 0;
    }
  }
  &__heading {
    font-size: 3rem;
    color: #fff;
    margin-top: 0;
  }

  .btn {
    align-self: center;
    justify-self: center;
    @media screen and (min-width: 768px) {
      justify-self: start;
      margin: 0 2rem;
    }
  }

  &--primary {
    background-color: $color-primary;
    color: #fff;
  }
}

// component
// <div class="callout callout--primary">
// <div class="grid grid--1x2">
//   <div class="callout__content">
//     <h3 class="callout__heading">Ready to Get Started?</h3>
//     <p>
//       Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
//       ab saepe ea totam esse pariatur repellendus quam repudiandae, vitae
//       earum.
//     </p>
//   </div>
//   <a href="#" class="btn btn--secondary btn--stretched">buy now</a>
// </div>
// </div>
