@use "../variables" as *;

.grid {
  display: grid;

  &--1x2 {
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--1x3 {
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// component
// <div class="grid grid--1x3">
// <div style="height: 100px; background-color: red">red</div>
// <div style="height: 100px; background-color: greenyellow">green</div>
// <div style="height: 100px; background-color: orange">orange</div>
// </div>
