@use "../variables" as *;

.input {
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: 0;
  box-shadow: 0 0;
  padding: 1.5rem 3.5rem;
  color: $color-headings;
  font-size: 2rem;
  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #fff;
  display: flex;

  & .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
  }

  & .btn {
    margin: 4px;
  }
}

// component
// <div class="input-group">
// <input class="input" type="search" placeholder="Enter domain name here ..."/>
// <button href="#" class="btn btn--accent">search</button>
// </div>
