@use "../variables" as *;

.testimonial {
  padding: 3rem;

  .quote {
    @media screen and (min-width: 768px) {
      font-size: 2.4rem;
      margin: 6rem;
      &__author {
        font-size: 2.4rem;
      }
    }
  }
  &__img {
    position: relative;

    & > .icon-container {
      position: absolute;
      top: 3rem;
      right: -32px;
    }
    & img {
      width: 100%;
    }
  }
}

// componenet
// <div class="card testimonial">
// <div class="grid grid--1x2">
//   <div class="testimonial__img">
//     <img src="images/testimonial.jpg" alt="testimonial" />
//     <span class="icon-container icon-container--accent">
//       <svg class="icon icon--white icon--small">
//         <use xlink:href="images/sprite.svg#quotes"></use>
//       </svg>
//     </span>
//   </div>
//   <blockquote class="quote">
//     <p class="quote__text">
//       Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
//       reprehenderit sapiente repellat doloremque delectus totam odio
//       laudantium non nam explicabo.
//     </p>
//     <footer>
//       <div class="media">
//         <div class="media__image">
//           <svg class="icon icon--primary">
//             <use xlink:href="images/sprite.svg#line"></use>
//           </svg>
//         </div>
//         <div class="media__body">
//           <h3 class="media__title quote__author">John Smith</h3>
//           <p class="quote__organization">ABC Company</p>
//         </div>
//       </div>
//     </footer>
//   </blockquote>
// </div>
// </div>
