@use "../variables" as *;

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;

  &:first-of-type {
    margin-top: 6rem;
  }
  &__heading {
    margin: 1.5rem 0;
  }

  &__img {
    max-width: 100%;
  }
}
